body {
   justify-content: center;
   align-items: center;
}

.top-container {
   background-image: url("../images/background.jpg");
   background-size: cover;
   height: 700px;
   text-align: center;
}

.con1 img {
   padding-bottom: 2%;
}

.con1 {
   padding: 10%;
   color: #ffff;
}

.con1 p {
   font-size: 1.5em;
   padding-top: 1%;
}


.header1 {
   font-family: 'Ubuntu', sans-serif;
   padding-top: 10px;
   font-size: 3.5em;
}


.header2 {
   font-family: 'Ubuntu', sans-serif;
   font-size: 2.5em;
   padding-bottom: 30px;
}

p {
   font-family: 'Montserrat', sans-serif;
   line-height: 30px;
   font-size: 1.3em;
   font-weight: 400;
}